$color-lite:  #ECECEC;

.room {
    width: 130px;
    margin-right: 10px;
} 

.bg-lite {
    background-color: $color-lite;
}
.bg-litegrey, .header {
    background-color: lightgrey;
}

.header-selected {
    font-weight: bold;
    background-color: $color-lite;
}